.site-footer {
	@include clearfix;
	background: $grey;
	padding: 75px 0;
	width: 100%;
	text-align: center;

	&__container {
		@extend %container;
	}

	&__photo {
		border-radius: 100%;
		opacity: .25;
		filter: grayscale(100%);
		margin-bottom: 25px;
		max-width: 200px;
	}

	&__title {
		color: $teal;
		font-size: .875rem;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__link {
		color: $teal;
		font-size: 1.5rem;

		&:hover {
			text-decoration: none;
		}
	}

	&__bio {
		color: $white;
		font-weight: 100;
		font-size: 1.125em;
		margin: 0 auto;
		margin-bottom: 50px;
		max-width: 620px;

		a {
			color: $teal;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
